*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    padding: 20px 0 0 5px;
}
.post{
    display: block;
    position: relative;
    background: white;
    border: 1px solid #d1d1d1;
    height: 130vh;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    z-index: 1000;
    
}
.reacao-e-comentario text-name{
    margin: 0;
    padding: 0;
}

.profile-post{
    margin: 10px 0 10px 20px;
    height: 42px;
    width: 42px;
}
.reticencias{
    position: absolute;

    right: 15px;
    top: 21px;
    
}
.post__header{
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 100;
    border-radius: 8px 8px 8px 8px;
    border-bottom: 1px solid #EFEFEF;
}
.post__header img{
    width:50px;
    height:50px;
    border-radius:50%;
    margin: 5px 10px;
   
}
.post__image{
    width: 100.1%;
    height:700px;
    
    background: gray;
}
.container-comentario{
    border-radius: 8px 8px 8px 8px;
    height: 89px;
    position:absolute;
    width:100%;
    top:20%;
}
.reacao-e-comentario{
    height: 120px;
    position:relative;
}

.reacoes{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.reactions__wrapper button:nth-child(1),
.reactions__wrapper button:nth-child(2){
    margin:5px 0 0 10px;
}
.reactions__wrapper button:nth-child(3),
.reactions__wrapper button:nth-child(4) {
    margin-left: 13px;
}

.reactions__wrapper{
    display:flex;
    align-content: space-between;
    align-items:center;
}
.save-reacao{
    height: 24px;
    width: 24px;
    margin: 5px;
}
.reacoes button{
    background: none;
    
}	
.heart-reacao{
    margin-left: 5px;
    height: 30px;
    width: 30px;
    position: relative;
    background: none;  
    bottom: 3px;
}
.white:hover{
    color:#8e8e8e
}

.heart__reacao_red{
    margin-left: 5px;
    height: 30px;
    width: 30px;
    position: relative;
    background: none;  
    bottom: 3px;
    color: red;
}
.comment-reacao{
    margin-left: 5px;
    height: 25px;
    width: 25px;
    transform:scale3d(-1.0,1,1);
}
.share-reacao{
    transform:rotate(45deg);
    margin-left: 5px;
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 3px;
}
.curtidas{
    font-weight: bold;
    margin: 15px 0 0 10px;

}
.post__text{
    margin: 10px ;
}
.ver_mais_comentario{
    width:50%
}
.ver_mais_comentario, .tempo{
    padding: 0 0 0 10px;
    color: #8e8e8e;
    font-size: 14px;
    cursor:pointer;
    width:100%;
}
.tempo{
    padding: 10px 0 0 10px;
    font-size: 10px;
}
.super-container-comentario{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #d1d1d1;
    margin-top:15px;
}
.emoji button{
    background: none;
    
}
.emoji .emoji-smile{
    width: 30px;
    height: 30px;
}
.comentario-wrapper{
    
    display:flex;
    align-items:center;
    width: 100%;
    height: 100%;
    
    position:relative;
}
.emoji{
    padding-left:10px;
}
.comentario{
    padding-left: 10px;
    width: 330px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
}

.publicar{
    cursor: pointer;
    position: relative;
    right: 10px;
    color: #0095f6;
    font-weight: bold;
    opacity: 0.2;
}
.publicarBlue{
    cursor: pointer;
    position: relative;
    right: 10px;
    color: #0095f6;
    font-weight: bold;
    opacity:1;
}
.invisivel{
    display:none;
   
} 
.vermelho{
    color: red;
    opacity: 0.7;
    animation: coracao_vermelho 0.4s ease-in-out;
}
@keyframes coracao_vermelho{
    0%{
        transform:scale(0)
    }
    
    100%{
        transform:scale(1.2)
    }
}
.style2{
    color: rgb(255,0,0);
}