.modal{
    height:362px;
    background-color:white;
    position:absolute;
    left:48%;
    top:97%;
    transform:translateX(-50%);
    display:none;
    z-index: 10;
    width: 375px;
    border-radius: 8px;
    border: 1px solid #8e8e8e;
}
.modal.active{
    display:block;
}
.wrapper__options{
    display: flex;
    justify-content: space-between;
    margin: 10px 16px 0 ;
    height: 30px;
    
}
.wrapper__options h2:nth-child(2){
    color: #0095f6;
}
.modal__content{
    display:flex;
    align-items:center;
    position:relative;
    font-size:0.7em;
    margin: 4px 16px 0 ;
    padding-top: 7px;
}

.content__wrapper{
    display:flex;
    align-items:center;
    column-gap:10px;
    
}
.names__content{
    font-size: 14px;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    align-items:flex-start;
}
.names__content h2{
    text-transform: lowercase;
    margin-left:2px;
}
.names__content h3{
    padding:0;
    color:#8e8e8e
}
.img{
    width:50px;
    height:50px;
}
.img img{
    border-radius:50%;
    width:100%;
    height:100%;
    object-fit:cover;
}
.close{
    cursor:pointer;
    position:absolute;
    right:30px;
}
.fechar__icon{
    font-size:16px;
}